/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #f2f5f9;
}

.container {
  width: 95%;
  margin: auto;
  max-width: 1200px;
}

nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-family: "Josefin Sans";
  font-size: 30px;
  font-weight: 600;
}

nav span {
  color: #6a4d99;
}


.theme {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px rgb(102, 101, 101);
}

.theme svg {
  color: rgb(0, 0, 0);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navList img {
  width: 192px;
  height: 174px;
  /* object-fit: cover; */
  border-radius: 20px;
}

.ul{
  position: absolute;
  right: 0;
  top: 60;
}

.navList ul {
  height: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Raleway";
  padding: 10px 25px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 1px 5px #d5d5d6;
}

.navList a {
  text-decoration: none;
  color: #000;
}

.navList li {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 2;
  background: #e2ebf1;
  border-radius: 20px;
}

.navList-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navList svg {
  font-size: 20px;
}